.body {
    font-family: 'Jomolhari', serif;
}

.subtitle {
    text-decoration: underline;
}

.credit {
    margin-top: 5em;
}
.credit a {
    text-decoration: none;
    color: black;
}

.ui-menu-item-wrapper {
    background-color: #f5fcfd;
    list-style: none;
}