<div class="footer .col-xs-3 d-flex flex-column text-center">
    <p class="pt-3">Novembre 2019 - Par Coralie BLANCO</p>
    <div class="d-flex">
        <p><a href="https://www.linkedin.com/in/coralieblanco/"><i class="fa fa-linkedin-square m-2" aria-hidden="true"></i></a></p>
        <p><a href="https://github.com/coralie-blc"> <i class="fa fa-github m-2" aria-hidden="true"></i></a></p>
    </div> 
</div>